main {
    padding-top: 105px;
}

form {
    background: url(../Imagens/ilustra-contato.png) 80% 50% no-repeat;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50rem 6.95rem 6.95rem;
}

fieldset {
    border: none;
}

legend {
    color: #ff4081;
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin: 0 0 44px;
}

form div {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 15px;
}

.form {
    width: 100%;
    width: 100%;
    border: 1px solid #686868;
    outline: 0;
    border-radius: 7px;
    padding: 10px 21px;
    box-sizing: border-box;
}

form input, textarea {
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    border-radius: 7px;
    box-sizing: border-box;
    
}


form button {
    background: #ff4081;
    color: white;
    padding: 10px 51px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;

}