main {
    display: flex;
    justify-content: space-between;
    padding: 5rem 10rem;
}

#ilustra-contato {
    min-height: 444px;
    min-width:444px;
}
form h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
}

.form {
    box-sizing: border-box;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
}

.button {
    position: absolute;
    padding: 0.25rem 0.5rem;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 50px;
}