* {
    padding: 0;
    margin: 0;
}


.container-top {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    min-width: 70%;
    max-width: 95%;
    margin-right: 10%;
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 20%;
}

.container-top h1 {
    width: 488px;
    color: #FF4081;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 3rem;
    line-height: 69px;   
    padding-bottom: 1rem;
}

.container-top p {
    font-size: 1.35rem;
    font-weight: 400;
    color: #555555;
}

.container-top a {
    border: 2px solid #FF4081;
    border-radius: 62px;
    text-decoration: none;
    color: #FF4081;
    text-align: center;
    font-weight: 400;
    font-size: 27px;
    display: block;
    margin-top: 1.9rem;
    padding: 0.45rem;
    max-width: 13rem;
    margin-bottom: 12rem;
    text-transform: lowercase;
}

.container-top img {
    display: flex;
}

.cursos {
    background-color: #f6f6f6;
    display: flex;
    padding: 6rem;
    justify-content: space-between;
}

.cursos-index img {
    max-width: 288px;
    max-height: 270px;
}

.cursos-index a {
    border: 2px solid #ff4081;
    border-radius: 62px;
    color: #fff;
    background-color: #FF4081;
    padding: 0.75rem 2.5rem;
    text-decoration: dashed;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    margin-top: 1.3rem;
    justify-content: center;
}

.cursos-index h3 {
    padding-top: 2rem;
    color: #FF4081;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.73px;
}

.cursos-index p {
    padding-top: 1.155rem;
    padding-bottom: 2rem;
    font-size: 17px;
    width: 293px;
    justify-content: center;
}

.cursos-index {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
} 

#about-us {
    font-size: 37px;
    color: #009688;
    text-transform:uppercase ;
    font-weight: 700;
    margin: 5rem;
    margin-bottom: 3rem;
}

.sobre-nos {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

#sobre-nos-topico {
    display: flex;
    padding-bottom: 3rem;
    padding-right: 15rem;
}

#sobre-nos-topico img {
    max-width: 104px;
    max-height: 104px;
}

#sobre-nos-topico div{
    font-size: 18px;
    padding: 1.5rem;
    width: 420px;
    text-align: left;
    align-items: center;
}

#mais-conteudo {
    background-color: #f7f7f7;
    padding: 5rem;
    text-align: center;
}

.mais-conteudo {
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
}

#mais-conteudo-title {
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    text-align: left;
    padding-left: 5rem;
}

#mais-conteudo img {
    width: 319px;
    height: 193px;
    left: 128px;
    top: 2467px;
    background: #C4C4C4;
}

#mais-conteudo h3 {
    color: #009688;
    font-size: 27px;
}

#mais-conteudo div {
    padding-top: 1rem;
    font-size: 18px;
    width: 319px;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.mais-conteudo article {
    padding-right: 5rem;
    padding-left: 5rem;
}

#mais-conteudo a {
    border: 2px solid #ff4081;
    border-radius: 62px;
    color: #ff4081;
    background-color:transparent;
    padding: 0.35rem 2.5rem;
    text-decoration: dashed;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
}